*
    {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }       
img 
    {
        border-radius: 15px;
        margin: 5px;
    }
body
    {
        display: flex;
        flex-direction: row;
        height: 100vh;
        width: 100%;
    }
main
    {
        flex: 1;
    }
        .sidebar
                {
                padding: 20px;
                border-right: 1px solid grey;
                }   
        .search
                {
                margin-bottom: 10px;
                width: 100%;
                border-radius: 6px;
                padding: 8px;
                border: 1px solid #ededed91;
                }
        .contact-list 
                {
                    list-style: none ;
                }
        .contact
                {
                display: flex;
                align-items: center;
                gap: 15px;
                padding: 10px 0px;
                border-radius: 5px;
                }
        .contact:hover
                {
                background-color: #edededd3;
                }
        .contact-section
                {
                    margin: 50px;
                }
        .chat-header
                {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                padding-bottom: 10px;
                }
        .chat-header img
                {
                width: 60px;
                height: 60px;
                border-radius: 10px;
                }
        .chat-header h3 
                {
                font-size: 25px;
                margin-right: auto;
                }
        .chat-header p
                {
                font-size: 16px;
                color: grey;
                }
        .last-connect 
                {
                font-size: 15px;
                }
        .status::before
                {
                font-size: 18px;
                margin-left: 10px;
                content: "•  ";
                color:red
                }  
        .green::before
                {
                content: "•  ";
                color: green;
                }            
        .name
                {
                margin-left: 10px;
                font-size: 18px;
                }
        .status
                {
                font-size: 14px;
                color: grey;
                margin-bottom: 15px;
                }
        .select
                {
                background-color: #edededd3;
                padding-block: 5px;
                }
        .content
                {
                display: flex;
                justify-content:flex-start;
                width: 100%;
                height: 100vh;
                }
        .chat 
                {
                display: flex;
                flex-direction: column;
                margin: 10px;
                }
button
    {
    height: 40px;
    width: 40px;
    font-size: x-large;
    }
        .chat-actions
                { 
                display: flex;
                gap: 10px;
                }
        .chat-actions button 
                {
                padding: 6px 10px;
                border: none;
                font-size: 18px;
                background-color: transparent;
                cursor: pointer;
                }
        .chat-actions button:hover
                {
                background-color: #edededd3;
                }
        .chat-footer button:hover
                {
                background-color: #edededd3;
                }
        .barra
               {
                display: flex;
                justify-content: space-between;
                border: 2px #83808023 solid;
                border-radius: 5px;
                padding: 5px;
                }
        .chat-messages
                {
                display: flex;
                flex-direction: column;
                flex: 1;
                background-color: rgb(255, 255, 255);
                padding: 20px;
                gap: 20px;
                }
        .message
                {
                max-width: 70%;
                margin-bottom: 10px;
                padding: 10px;
                border-radius: 10px;
                }
        .sent   
                {
                background-color: #edededd3;
                align-self: end;
                text-align: right;
                }
        .received
                {
                background-color: #ededed91;
                align-self: start;
                text-align: left;
                }
        .timestamp
                {
                display: flex;
                font-size: 10px;
                color:grey;
                margin-top: 4px;
                text-align: right;
                }
            